<div class="card text-center">
  <div class="card-header">
    <h3 class="card-title">{{title}} <span class="badge text-bg-secondary">{{priority}}</span></h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{description}}</h5>
    <a href="/todo/{{id}}/edit" type="button" class="btn btn-warning">
    EDIT TODO
    </a>
  </div>
  <div class="card-footer text-body-secondary">
    {{date}}
  </div>
</div>
